
h1{
  font-size: 2rem;
}

h3{
  margin-top: 40px;
  font-size: 1.5rem;
}

body{
  background-image: url(https://c0.wallpaperflare.com/preview/76/943/601/4k-wallpaper-architecture-background-black.jpg);
  background-size: cover;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span{
  font-size: 2rem;
}
